<html>
  <head>
    <title><%block name="title"></%block> - sagemincer</title>
    <meta name="viewport" content="width=device-width"></meta>
    <link rel="stylesheet" type="text/css" href="${get_url('static', path='style.css')}"></link>
  </head>
  <body>

    ${next.body()}

    <h1 class="howtouse">Pro Tips</h1>
    <div class="howtouse">
      <p>
	Lavender hyperlinks in small type off to the right (of CSS
	class <code>id</code>, if you view the page source) point to
	globally unique <abbr title="Uniform Resource
	Identifier">URI</abbr>s for each document and item. Copy the
	link location and paste anywhere you need to talk
	unambiguously about these things.
	
      </p>
      <p>
	You can obtain data about documents and items in other
	formats. Simply provide an HTTP header <code>Accept:
	text/turtle</code> or
	<code>Accept: application/rdf+xml</code>.

      </p>
    </div>
    

    <p class="agpl">Powered by <a href="https://gitlab.com/sagemincer/sagemincer/">sagemincer</a></p>
  </body>
</html>
