<%inherit file="base.html" />
<%block name="title">${label_for(item_uri)} - <%block name="top_label">${label_for(top)}</%block></%block>

<h1>${label_for(item_uri)}</h1>
<p>From <a href="${document_uri}">${self.top_label()}</a></p>
${next.body()}
