<%inherit file="base.html" />
<%block name="title">Front page</%block>
<p>
  This site renders <abbr title="eXtensible Configuration Checklist
  Description Format">XCCDF</abbr> <a href="/list/cl/">checklists</a> as
  Linked Open Data. See <a href="/size">how many facts</a> are known.

</p>
<p>
  Sources:
  <ul>
    <li>unclassified <a href="http://iase.disa.mil/stigs"><abbr title="U.S. Defense
  Information Services Agency">DISA</abbr> <abbr title="Security
  Technical Implementation
  Guide">STIG</abbr>s</a>, <abbr title="Security Requirements
  Guide">SRG</abbr>s, and <abbr title="Interim Security Configuration
  Guide">ISCG</abbr>s</li>
  </ul>
  Updates are received more than once a quarter.

</p>

