<%inherit file="../../item_base.html" />

% for g in all_with(XCCDFLOD.hasRule, item_uri):
<p>Part of <a href="${g}">${label_for(g)}</a></p>
% endfor

<% all_ia_controls = ', '.join(get_all(item_uri, STIGLOD.iaControl)) %>
% if len(all_ia_controls) > 0:
  <p>Associated with IA controls: ${all_ia_controls}</p>
% endif

<% any = False %>
% for i in get_all(item_uri, XCCDFLOD.ident):
<% any = True %>
% if loop.first:
  <p>Associated with:
% endif
  <a href="${i}">${label_for(i)}</a>
% endfor
% if any:
  </p>
% endif

<h1 class="rule"><a href="${item_uri}" class="id">${fragment(item_uri)}</a>
${label_for(item_uri)}
</h1>

<h2>Vulnerability discussion</h2>
<p>
${get_one(item_uri, STIGLOD.vulnDiscussion, '')}
</p>

<h2>Check content</h2>
<p>
${get_one(item_uri, XCCDFLOD.checkContent, '')}
</p>

<h2>Fix text</h2>
<p>
${get_one(item_uri, XCCDFLOD.fixText, '')}
</p>
