<%namespace name="legend" file="../../legend.html" />
<%def name="rule(uri, headerlevel)">
<div class="rule">
<% sev = get_one(uri, XCCDFLOD.severity, 'none') %>
% if sev == 'high':
  <span class="severity-high">&#x26a0;</span>
% elif sev == 'medium':
  <span class="severity-medium">&#x261e;</span>
% elif sev == 'low':
  <span class="severity-low">&#x2022;</span>
% endif
<a href="${uri}" class="id">${fragment(uri)}</a><a class="to_id" href="${uri}">${label_for(uri)}</a>
</div>
<%legend:ensure name="rule">
<li><span class="severity-high">&#x26a0;</span> high severity</li>
<li><span class="severity-medium">&#x261e;</span> medium severity</li>
<li><span class="severity-low">&#x2022;</span> low severity</li>
</%legend:ensure>
</%def>
