<%inherit file="../../item_base.html" />
<%namespace file="short.html" import="enhancement" />
<%block name="top_label">NIST SP 800-53 Controls</%block>
<% control_uri = all_with(SP80053LOD.hasEnhancement, item_uri)[0] %>
<p>Part of <a href="${control_uri}">${label_for(control_uri)}</a></p>
${enhancement(item_uri)}
