<%namespace file="../statement/tree.html" import="statements_under" />
<%def name="enhancement(uri)">
<div class="enhancement">
  <a href="${uri}" class="id">${fragment(uri)}</a>
  ${label_for(uri)}: ${comment_for(uri)}
</div>
<p>${get_one(uri, SP80053LOD.description)}</p>
${statements_under(uri)}
</%def>
