<%inherit file="../../base.html" />
<%namespace file="../group/short.html" import="group" />
<%namespace file="../rule/short.html" import="rule" />
<%namespace file="../profile/short.html" import="profile" />
<%namespace name="legend" file="../../legend.html" />

<%block name="title">${label_for(top)}</%block>

<a name="${fragment(top)}"></a>
<h1>${label_for(top)}</h1>

<h2>Profiles</h2>
<ul class="checklist barpaper profiles">
% for p in get_all(top, XCCDFLOD.hasProfile):
  <li class="${loop.cycle("odd", "even")}"> ${profile(p, 3)} </li>
% endfor
</ul>

<h2>Groups</h2>
<ul class="checklist barpaper groups">
% for g in get_all(top, XCCDFLOD.hasGroup):
  <li class="${loop.cycle("odd", "even")}"> ${group(g, 3)} </li>
% endfor
</ul>

<h2>Toplevel Rules</h2>
<ul class="checklist barpaper toprules">
% for r in get_all(top, XCCDFLOD.hasRule):
  <li class="${loop.cycle("odd", "even")}"> ${rule(r, 3)} </li>
% endfor
</ul>

<h2>Legend</h2>
<%legend:get />
