<%inherit file="../../base.html" />
<%block name="title">Known checklists</%block>
<ul class="stiglist">
% for d in the_documents:
  <li class="barpaper ${loop.cycle("odd", "even")}">
    <a class="id" href="${d['d']}">${d['id']}</a>
    <a href="${d['d']}"
       title="V${d['version']}R${d['releasenumber']}, ${d['lateststatus']} as of ${d['latestdate']}, from ${d['filename']}"
       >${d['toplabel']}</a>
  </li>
% endfor
</ul>
