<%inherit file="../../base.html" />
<%namespace file="../control/short.html" import="control" />
<%block name="title">NIST SP 800-53 Controls</%block>
<h1>NIST SP 800-53 Controls</h1>
<ul class="checklist">
% for c in get_all_lexnum(top, SP80053LOD.hasControl):
  <li>
    ${control(c)}
  </li>
% endfor
</ul>

