<%inherit file="../../base.html" />
<%block name="title">Known NIST SP 800-53 documents</%block>
<ul class="stiglist">
% for d in the_documents:
  <li class="barpaper ${loop.cycle("odd", "even")}">
    <a class="id" href="${d['d']}">${d['id']}</a>
    <a href="${d['d']}"
       title="filename ${d['filename']}">${d['firstseen']}</a>
  </li>
% endfor
