.profile { font-size: 12pt; }
.group { font-size: 12pt; }
.rule { font-size: 12pt; }
.odd { background-color: #f0f0f0; }
.even { background-color: #ffffff; }
/* make second-level odds and evens not alternate colors */
ul .even ul .odd { background-color: #ffffff; }
ul .odd ul .even { background-color: #f0f0f0; }
ul.checklist { padding-left: 0; margin-bottom: 3em; list-style-type: none; }
ul.barpaper > li { padding-left: 1em; }
ul.checklist ul { list-style-type: none; padding: 0.3em 0 0.3em 1em; }
ul.checklist > li { padding-top: 0.3em; padding-bottom: 0.3em; }
ul.checklist p { padding-left: 2em; }
ul.legend { list-style-type: none; }
ul.legend li { margin: 0.2em; padding: 0.5em; border: 1px solid black; display: inline; }
div.control { font-size: 140%; font-weight: bold; }
div.enhancement { font-size: 120%; }
.howtouse { font-size: 80%; }

.agpl { float: right }
.id { font-family: monospace, courier; text-decoration: none; font-size: 8pt; color: #c0a0c0; float: right; text-align: right; margin-top: 2pt; }
ul.stiglist { list-style-type: none; padding: 0; }
a.to_id:link { text-decoration: none; color: #000040; }
a.to_id:hover { text-decoration: none; color: #000050; }
a.to_id:visited { text-decoration: none; color: #300030; }
.severity-high { color: red; }
.severity-medium { }
.severity-low { display: none; }
