<%inherit file="../../item_base.html" />
<%namespace file="../rule/short.html" import="rule" />

<h2>Rules</h2>
% for r in get_all(item_uri, XCCDFLOD.hasRule):
  <div class="barpaper ${loop.cycle("odd", "even")}">
    ${rule(r, 3)}
  </div>
% endfor
