<%namespace file="../rule/short.html" import="rule"/>
<%def name="group(uri, headerlevel)">
<div class="group">
    <a href="${uri}" class="id">${fragment(uri)}</a><a class="to_id" href="${uri}">${label_for(uri)}</a>
</div>
<ul class="grouprules">
% for r in get_all(uri, XCCDFLOD.hasRule):
  <li class="${loop.cycle("odd", "even")}">
    ${rule(r, headerlevel+1)}
  </li>
% endfor
</ul>
</%def>
