<%inherit file="../../item_base.html" />

% for g in all_with(XCCDFLOD.hasRule, item_uri):
<p>Part of <a href="${g}">${label_for(g)}</a></p>
% endfor

<p>Applies to:</p>
<ul>
% for t in get_all(item_uri, XCCDFLOD.contains):
<li class="barpaper ${loop.cycle("odd", "even")}">
  <a href="${t}">${label_for(t)}</a>
  <a href="${t}" class="id">${fragment(t)}</a>
</li>
% endfor
</ul>
