<%def name="statement(uri)">
<a href="${uri}" name="${fragment(uri)}" class="id">${fragment(uri)}</a>
<div class="statement label">${label_for(uri)}</div>
<p>${get_one(uri, SP80053LOD.description)}</p>
</%def>
