<%namespace file="short.html" import="statement" />
<%def name="statements_under(uri)">
<ul class="statement">
% for stmt_uri in get_all_lexnum(uri, SP80053LOD.hasStatement):
  <li class="statement">
    ${statement(stmt_uri)}
    ${statements_under(stmt_uri)}
  </li>
% endfor
</ul>
</%def>
