<%inherit file="../../base.html" />
<%namespace file="../item/short.html" import="item" />

<%block name="title">Control Correlation Identifiers</%block>

<h1>Control Correlation Identifiers</h1>

<ul class="checklist barpaper">
% for i in get_all(top, CCILOD.hasItem):
  ${item(i)}
% endfor
</ul>
