<%namespace file="../statement/tree.html" import="statements_under" />
<%namespace file="../enhancement/short.html" import="enhancement" />
<%def name="control(uri)">
<a href="${uri}" class="id">${fragment(uri)}</a>
<div class="control">
${label_for(uri)}: ${comment_for(uri)}
</div>
<p>${get_one(uri, SP80053LOD.description)}</p>
${statements_under(uri)}
<ul class="enhancement">
% for e in get_all_lexnum(uri, SP80053LOD.hasEnhancement):
  <li class="enhancement">
    ${enhancement(e)}
  </li>
% endfor
</ul>
</%def>
