<%inherit file="../../item_base.html" />
<%block name="top_label">Control Correlation Identifiers</%block>
<%block name="item_body_">
<% any = False %>
% for i in get_all(item_uri, CCILOD.refersTo):
<% any = True %>
% if loop.first:
  <p>Associated with:
% endif
  <a href="${i}">${label_for(i)}</a>
% endfor
% if any:
  </p>
% endif

<p>${get_one(item_uri, RDFS.comment)}</p>
</%block>

