<%def name="item(uri)">
<div class="rule">
  <a href="${uri}" name="${fragment(uri)}" class="id">${fragment(uri)}</a>
  <a href="${uri}" class="to_id">${label_for(uri)}</a>
  <p>${comment_for(uri)}</p>
</div>
</%def>
